@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;500&display=swap');
* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titulocard {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #212529;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #28a745;
  font-size: larger;
}

.bg-green {background-color:#28a745;}

.txt-gris {color: #707070;}

legend {color: white;}